<h1>Application for Business Account</h1>

<table>
  <thead>
    <tr>
      <tr>Company Name</tr>
      <tr>Tel</tr>
      <tr>Fax</tr>
      <tr>Email</tr>
      <tr>Business Address</tr>
      <tr>City</tr>
      <tr>State</tr>
      <tr>Zip Code</tr>
      <tr>D-U-N-S#</tr>
      <tr>Tax ID#</tr>
      <tr>Annual Sales</tr>
      <tr>Number of Employees</tr>
      <tr>Exfreight Sales Rep</tr>
    </tr>
  </thread>

  <tbody>
    <% @forms.each do |form| %>
      <tr>
        <td><%= form.company_name %></td>
        <td><%= form.tel %></td>
        <td><%= form.fax %></td>
        <td><%= form.email %></td>
        <td><%= form.business_address %></td>
        <td><%= form.city %></td>
        <td><%= form.state %></td>
        <td><%= form.zip_code %></td>
        <td><%= form.d_u_n_s %></td>
        <td><%= form.tax_id %></td>
        <td><%= form.annual_sales %></td>
        <td><%= form.number_of_employees %></td>
        <td><%= form.exfreight_sales_rep %></td>
        <td><%= link_to 'Show', form %></td>
        <td><%= link_to 'Edit', edit_form_path(form) %></td>
        <td><%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Form', new_form_path %>